<!-- =========================================================================================
    File Name: ChartBarChart.vue
    Description: Create bar chart
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <vx-card :title="HeaderText" class="mb-base">
        <div class="mt-5">
            <chartjs-component-bar-chart :height=250 :data="datos.data" :options="datos.options"></chartjs-component-bar-chart>
        </div>       
    </vx-card>
</template>

<script>
import ChartjsComponentBarChart from "./charts-components/ChartjsComponentBarChart.vue"
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      datos: this.data.graphic,
      HeaderText: this.title
    };
  },
  components: {
    ChartjsComponentBarChart
  }
};
</script>

