<!-- =========================================================================================
    File Name: ChartLineChart.vue
    Description: Create line chart
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <vx-card :title="HeaderText" class="mb-base">
    <div class="mt-5">
      <chartjs-component-line-chart :height="250" :data="datos.data" :options="datos.options"></chartjs-component-line-chart>
    </div>
  </vx-card>
</template>

<script>
import ChartjsComponentLineChart from "./charts-components/ChartjsComponentLineChart.vue";
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      datos: this.data.graphic,
      HeaderText: this.title
    };
  },
  components: {
    ChartjsComponentLineChart
  }
};
</script>
