<!-- =========================================================================================
    File Name: ChartPieChart.vue
    Description: Create pie chart
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div title="" class="mb-base"><!--vx-card x div title="titulo"-->
    <div class="mt-0">
      <chartjs-component-pie-chart :height="250" :data="datos.data" :options="datos.options"></chartjs-component-pie-chart>
    </div>
  </div>
</template>

<script>
import ChartjsComponentPieChart from "./charts-components/ChartjsComponentPieChart.vue";

export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      datos: this.data.graphic,
      //HeaderText: this.title
    };
  },
  components: {
    ChartjsComponentPieChart
  }
};
</script>
