<template>
  <vx-card>
    <div class="vx-row mb-4">
      <div class="vx-col w-full">
        <div class="vx-row">
          <div class="vx-col w-full mb-4">
            <h4>ENVIO Y COSTO MENSUAL VIAJES CEDIS.COM / FLOTA LOCAL</h4>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-1/2">
            <label for>Año</label>
            <select name id="selectYears" class="select-large vs-select--input" v-model="Years">
              <option
                :key="index"
                v-for="(item,index) in options1"
                :value="item.value"
              >{{item.text}}</option>
            </select>
          </div>
          <div class="vx-col w-1/2 pt-5">
            <!-- <label for>Mes</label>
            <select
              name
              id="selectTipoViaje"
              class="select-large vs-select--input"
              v-model="Months"
            >
              <option
                :key="index"
                v-for="(item,index) in options2"
                :value="item.value"
              >{{item.text}}</option>
            </select>-->
            <vs-button
              color="danger"
              class="w-full"
              type="border"
              icon-pack="feather"
              icon="icon-refresh-ccw"
              v-on:click="Reset()"
            >Resetear</vs-button>
          </div>
        </div>
      </div>
    </div>
    <div class="vx-row w-full">
      <div class="vx-col w-full" id="contentBreadcrumb" v-html="Breadcrumb">
        <!-- {{this.Breadcrumb}} -->
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <vue-apex-charts
          type="bar"
          height="350"
          :options="ChartBar"
          :series="SeriesBar"
          v-if="renderComponents"
          TipoIndicador="5"
        ></vue-apex-charts>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full" id="ContentTable">
        <h6>{{titleTable}}</h6>
        <Ag-Grid-Table
          :data="datos"
          :title="titleTable"
          v-if="renderComponents"
          :TipoIndicador="5"
          :AnioInicio="Years"
          :Mes="Mes"
          :tipoDetalle="tipoDetalle"
          :Semana="Semana"
          :fgAjustarColumna="fgAjustarColumna"
        ></Ag-Grid-Table>
      </div>
    </div>
  </vx-card>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
import AgGridTable from "@/components/ag-grid-table/AgGridTable.vue";
import $ from "jquery";

export default {
  data() {
    return {
      datos: null,
      ChartBar: null,
      SeriesBar: null,
      renderComponents: true,
      title: "Número de entregas y Otras Vueltas.",
      titleTable: null,
      Empresa: "",
      tipo: 0,
      Years: 0,
      options1: [],
      Mes: 0,
      tipoDetalle: 0,
      Semana: 0,
      fgAjustarColumna: true,
      enunciado: null,
      Breadcrumb: "",
      lblSemana: "",
      diaFinal: null
    };
  },
  components: {
    VueApexCharts,
    AgGridTable
  },
  methods: {
    getDatos() {
      this.$vs.loading();
      if (this.tipoDetalle == -1) {
        this.tipoDetalle = 0;
      }
      let parameter = {
        EmpresaID: this.$route.query.Id,
        tipo: this.tipo,
        Anio: this.Years,
        tipoDetalle: this.tipoDetalle,
        Mes: this.Mes,
        Semana: this.Semana
      };

      this.titleTable =
        "ENVIO Y COSTO MENSUAL VIAJES CEDIS.COM / FLOTA LOCAL DEL AÑO " + this.Years;
      $.ajax({
        url:
          this.WS +
          (this.tipoDetalle == 1
            ? "/Cedis/getIndicadorCedis"
            : "/Cedis/getIndicadorCedisDetalle"),
        type: "POST",
        dataType: "Json",
        data: parameter,
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            
            let GB = response.Data;

            //if (this.tipoDetalle == 0) {
            this.datos = GB;
            //}
            this.ChartBar = GB.graphic.chartOptions;
            this.ChartBar["yaxis"] = {
              title: {
                text: "ENTREGAS / OV"
              }
            };
            this.ChartBar["tooltip"] = {
              y: {
                formatter: function(val) {
                  return val;
                }
              },
              theme: "dark"
            };
            this.ChartBar["chart"]["events"] = {
              dataPointSelection: (event, chartContext, config) => {
                switch (this.tipoDetalle) {
                  case 0:
                    this.tipoDetalle = 1;
                    this.Mes = config.dataPointIndex + 1;
                    break;
                  // case 1:
                  //   this.tipoDetalle = 2;
                  //   this.lblSemana = config.w.config.xaxis.categories[
                  //     config.dataPointIndex
                  //   ];

                  //   let valReplace = config.w.config.xaxis.categories[
                  //     config.dataPointIndex
                  //   ].replace("SEM. ", "");                    
                  //   let valSplit = parseInt(valReplace.split(" - ")[0]);
                  //   this.Semana = new Date(
                  //     this.Years,
                  //     this.Mes - 1,
                  //     valSplit
                  //   ).getWeek();
                  //   //console.log(valReplace);
                  //   //console.log(this.Semana);
                  //   break;
                }
              }
            };
            this.SeriesBar = GB.graphic.series;
          }
        }
      });
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getAllWeeks() {},
    getYears() {
      this.Years = new Date().getFullYear();
      this.Months = new Date().getMonth();
      //let parameter = { EmpresaID: this.$route.query.Id };
      $.ajax({
        url: this.WS + "/AniosViajes/getYears/?id=" + this.$route.query.Id,
        type: "GET",
        dataType: "Json",
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            for (var i in response.Data) {
              this.Empresa = response.Data[i].Nombre;
              this.options1.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
            }
          }
        }
      });
    },
    getNameMes(mes) {
      switch (mes) {
        case 1:
          return "ENERO";
        //break;
        case 2:
          return "FEBRERO";
        //break;
        case 3:
          return "MARZO";
        //break;
        case 4:
          return "ABRIL";
        //break;
        case 5:
          return "MAYO";
        //break;
        case 6:
          return "JUNIO";
        //break;
        case 7:
          return "JULIO";
        //break;
        case 8:
          return "AGOSTO";
        //break;
        case 9:
          return "SEPTIEMBRE";
        //break;
        case 10:
          return "OCTUBRE";
        //break;
        case 11:
          return "NOVIEMBRE";
        //break;
        case 12:
          return "DICIEMBRE";
        //break;
      }
    },
    Reset() {
      this.tipoDetalle = -1;
      this.getDatos();
    },
    forceRerender() {
      this.renderComponents = false;
      this.$nextTick(() => {
        this.renderComponents = true;
      });
    }
  },
  created() {
    //this.$vs.loading()
    if (this.$route.query.Id > 0) {
      this.getYears();
      this.getDatos();
    } else {
      window.location.href = "./pages/error-404";
    }
  },
  mounted() {
    if (this.tipoDetalle == 0) {
      this.Breadcrumb = `AÑO ${this.Years}`;
    }
  },
  watch: {
    //Watch = "Trae el valor anterior seleccionado"
    Years(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        //(this.titleTable ="Tabla de entregas y otras vueltas por semana del año " + this.Years),
        setTimeout(() => {
          this.getDatos();
          this.forceRerender();
        }, 500);
        this.Breadcrumb = `AÑO ${this.Years}`;
      }
    },
    Months(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        setTimeout(() => {
          this.getDatos();
          this.forceRerender();
        }, 500);
      }
    },
    tipoDetalle(NewVal) {
      if (NewVal > 0) {
        if (NewVal == 2) {          
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
          
          this.Breadcrumb = `<a href="javascript:void(0)" style="cursor:auto">AÑO ${
            this.Years
          }</a> / <a href="javascript:void(0)" style="cursor:auto">${this.getNameMes(
            this.Mes
          )}</a> / ${this.lblSemana.toUpperCase()}`;
          // this.titleTable =
          //   "ENTREGA A CLIENTES POR DÍA DE LA SEMANA DEL " +
          //   this.diaInicio +
          //   " AL " +
          //   this.diaFinal +
          //   " DEL MES DE " +
          //   this.getNameMes(this.Mes) +
          //   " /FLOTA " +
          //   this.enunciado +
          //   " DEL AÑO " +
          //   this.Years;
          //this.Breadcrumb = `<a href="javascript:void(0)" style="cursor:auto">AÑO ${this.Years}</a> / <a href="javascript:void(0)" style="cursor:auto">${this.getNameMes(this.Mes)}</a> / SEM. ${this.Semana}`;
        } else {
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
          this.Breadcrumb = `<a href="javascript:void(0)" style="cursor:auto">AÑO ${
            this.Years
          }</a> / ${this.getNameMes(this.Mes)}`;
        }
      } else {
        if (NewVal == 0) {          
          this.Mes = 0;
          this.Semana = 0;
          setTimeout(() => {
            //this.getDatos();
            this.forceRerender();
          }, 500);
          this.Breadcrumb = `AÑO ${this.Years}`;
        }
      }
    }
  }
};
</script>