<template>
  <div id="RendimientoPH">
    <vx-card>
      <div class="vx-row mb-4">
        <div class="vx-col w-full">
          <div class="vx-row">
            <div class="vx-col w-full mb-4">
              <h4>{{title}}</h4>
            </div>
          </div>
          <div class="vx-row mb-4">
            <div class="vx-col w-1/3">
              <label>Año</label>
              <select id="selectYears" class="select-large vs-select--input" v-model="Years">
                <option
                  :key="index"
                  v-for="(item,index) in options2"
                  :value="item.value"
                >{{item.text}}</option>
              </select>
            </div>
            <div class="vx-col w-1/3 pt-5">
              <vs-button
                color="danger"
                class="w-full"
                type="border"
                icon-pack="feather"
                icon="icon-refresh-ccw"
                v-on:click="Reset()"
              >Resetear</vs-button>
            </div>
          </div>
        </div>
      </div>
      <div class="vx-row w-full">
        <div class="vx-col w-full" id="contentBreadcrumb" v-html="Breadcrumb">
          <!-- {{this.Breadcrumb}} -->
        </div>
      </div>
      <div class="vx-row mb-base">
        <div class="vx-col w-full">
          <div id="wrapper" style="position: relative; margin: 0 auto;">
            <div id="chart-line2">
              <apexchart
                type="bar"
                height="230"
                :options="ChartBar"
                :series="SeriesBar"
                v-if="renderComponents"
              ></apexchart>
            </div>
            <div id="chart-line" style="position: relative;
            margin-top: -38px;">
              <apexchart
                type="bar"
                height="130"
                :options="ChartLine"
                :series="SeriesLine"
                v-if="renderComponents"
              ></apexchart>
            </div>
          </div>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full mb-base">
          <h6>{{titleTable}}</h6>
          <br />
          <Ag-Grid-Table
            :data="datos"
            :title="titleTable"
            v-if="renderComponents"
            :TipoIndicador="10"
            :AnioInicio="Years"
            :tipoDetalle="tipoDetalle"
            :Mes="Mes"
            :Semana="Semana"
            :fgAjustarColumna="fgAjustarColumna"
            :fgReportes="fgReportes"
          ></Ag-Grid-Table>
        </div>
      </div>
    </vx-card>
  </div>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
import AgGridTable from "@/components/ag-grid-table/AgGridTable.vue";
import $ from "jquery";

export default {
  data() {
    return {
      datos: null,
      ChartBar: null,
      ChartLine: null,
      SeriesBar: null,
      SeriesLine: null,
      renderComponents: true,
      tipoDetalle: 0,
      Mes: 0,
      Semana: 0,
      titleTable: null,
      title:
        "RENDIMIENTO COMBUSTIBLE MENSUAL VIAJES - KM / TIPO DE VEHÍCULO-KILOMETRAJE",
      Years: 0,
      options2: [],
      //-->enunciado: null,
      Breadcrumb: "",
      fgAjustarColumna: false,
      fgReportes: true,
      diaInicio: null,
      diaFinal: null
    };
  },
  methods: {
    getDatos() {
      this.$vs.loading();

      if (this.tipoDetalle == -1) {
        this.tipoDetalle = 0;
      }

      let parameter = {
        EmpresaID: this.$route.query.Id,
        Anio: this.Years,
        tipoDetalle: this.tipoDetalle,
        Mes: this.Mes,
        Semana: this.Semana
      };

      switch (this.tipoDetalle) {
        case 0:
          this.titleTable =
            "RENDIMIENTO COMBUSTIBLE MENSUAL VIAJES - KM/TIPO DE VEHÍCULO-KILOMETRAJE DEL AÑO " +
            this.Years;
          this.Breadcrumb = `AÑO ${this.Years}`;
          break;
        case 1:
          this.titleTable =
            "RENDIMIENTO COMBUSTIBLE DEL MES DE " +
            this.getNameMes(this.Mes) +
            " VIAJES - KM/TIPO DE VEHÍCULO-KILOMETRAJE DEL AÑO " +
            this.Years;
          break;
        case 2:
          /*---NADA X AHORA--*/
          break;
      }

      $.ajax({
        url:
          this.WS +
          (this.tipoDetalle == 0
            ? "/Rendimiento/getIndicadorRendimiento"
            : "/Rendimiento/getIndicadorRendimientoDetalle"),
        type: "POST",
        dataType: "Json",
        data: parameter,
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            this.fgReportes = response.Data.json.length > 0 ? false : true;
            if (this.tipoDetalle == 2) {
              var lenght = response.Data.columnDefs.length;
              this.diaInicio = parseInt(
                response.Data.columnDefs[1].headerName.replace("DÍA ", "")
              );
              this.diaFinal = parseInt(
                response.Data.columnDefs[lenght - 2].headerName.replace(
                  "DÍA ",
                  ""
                )
              );
              this.Breadcrumb = `<a href="javascript:void(0)" style="cursor:auto">AÑO ${
                this.Years
              }</a> / <a href="javascript:void(0)" style="cursor:auto">${this.getNameMes(
                this.Mes
              )}</a> / SEM. DEL ${this.diaInicio} AL ${this.diaFinal}`;
              this.titleTable =
                "RENDIMIENTO COMBUSTIBLE DE LA SEMANA DEL " +
                this.diaInicio +
                " AL " +
                this.diaFinal +
                " DEL MES DE " +
                this.getNameMes(this.Mes) +
                " VIAJES - KM/TIPO DE VEHÍCULO-KILOMETRAJE DEL AÑO " +
                this.Years;
            }
            /*------------------------------------------->CONF. DECIMALES*/
            var Enero = 0;
            var Febrero = 0;
            var Marzo = 0;
            var Abril = 0;
            var Mayo = 0;
            var Junio = 0;
            var Julio = 0;
            var Agosto = 0;
            var Septiembre = 0;
            var Octubre = 0;
            var Noviembre = 0;
            var Diciembre = 0;
            var Total = 0;

            response.Data.json.map(e => {
              var total = 0;

              //-->console.log("FEBRERO 1-->", Math.round(e.Febrero * 100) / 100);
              //-->console.log("FEBRERO 2-->", e.Febrero.toFixed(2));
              //-->console.log("FEBRERO 3-->", Math.floor(e.Febrero * 100) / 100);

              e.Enero = e.Enero != 0 ? Math.floor(e.Enero * 100) / 100 : 0;
              e.Febrero =
                e.Febrero != 0 ? Math.floor(e.Febrero * 100) / 100 : 0;
              e.Marzo = e.Marzo != 0 ? Math.floor(e.Marzo * 100) / 100 : 0;
              e.Abril = e.Abril != 0 ? Math.floor(e.Abril * 100) / 100 : 0;
              e.Mayo = e.Mayo != 0 ? Math.floor(e.Mayo * 100) / 100 : 0;
              e.Junio = e.Junio != 0 ? Math.floor(e.Junio * 100) / 100 : 0;
              e.Julio = e.Julio != 0 ? Math.floor(e.Julio * 100) / 100 : 0;
              e.Agosto = e.Agosto != 0 ? Math.floor(e.Agosto * 100) / 100 : 0;
              e.Septiembre =
                e.Septiembre != 0 ? Math.floor(e.Septiembre * 100) / 100 : 0;
              e.Octubre =
                e.Octubre != 0 ? Math.floor(e.Octubre * 100) / 100 : 0;
              e.Noviembre =
                e.Noviembre != 0 ? Math.floor(e.Noviembre * 100) / 100 : 0;
              e.Diciembre =
                e.Diciembre != 0 ? Math.floor(e.Diciembre * 100) / 100 : 0;
              total =
                parseFloat(e.Enero) +
                parseFloat(e.Febrero) +
                parseFloat(e.Marzo) +
                parseFloat(e.Abril) +
                parseFloat(e.Mayo) +
                parseFloat(e.Junio) +
                parseFloat(e.Julio) +
                parseFloat(e.Agosto) +
                parseFloat(e.Septiembre) +
                parseFloat(e.Octubre) +
                parseFloat(e.Noviembre) +
                parseFloat(e.Diciembre);
              e.Total = e.Total != 0 ? total.toFixed(2) : 0;

              Enero += parseFloat(e.Enero);
              Febrero += parseFloat(e.Febrero);
              Marzo += parseFloat(e.Marzo);
              Abril += parseFloat(e.Abril);
              Mayo += parseFloat(e.Mayo);
              Junio += parseFloat(e.Junio);
              Julio += parseFloat(e.Julio);
              Agosto += parseFloat(e.Agosto);
              Septiembre += parseFloat(e.Septiembre);
              Octubre += parseFloat(e.Octubre);
              Noviembre += parseFloat(e.Noviembre);
              Diciembre += parseFloat(e.Diciembre);
              Total += parseFloat(e.Total);
            });
            const x = {
              Tipo: "Total",
              Enero: Enero != 0 ? Enero.toFixed(2) : 0,
              Febrero: Febrero != 0 ? Febrero.toFixed(2) : 0,
              Marzo: Marzo != 0 ? Marzo.toFixed(2) : 0,
              Abril: Abril != 0 ? Abril.toFixed(2) : 0,
              Mayo: Mayo != 0 ? Mayo.toFixed(2) : 0,
              Junio: Junio != 0 ? Junio.toFixed(2) : 0,
              Julio: Julio != 0 ? Julio.toFixed(2) : 0,
              Agosto: Agosto != 0 ? Agosto.toFixed(2) : 0,
              Septiembre: Septiembre != 0 ? Septiembre.toFixed(2) : 0,
              Octubre: Octubre != 0 ? Octubre.toFixed(2) : 0,
              Noviembre: Noviembre != 0 ? Noviembre.toFixed(2) : 0,
              Diciembre: Diciembre != 0 ? Diciembre.toFixed(2) : 0,
              Total: Total.toFixed(2),
              tipo: null
            };
            if (response.Data.json.length > 0) {
              response.Data.json.push(x);
            }

            response.Data.graphic.series.map(e => {
              if (e.data[0] != undefined)
                e.data[0].y =
                  e.data[0].y != 0 ? parseFloat(e.data[0].y.toFixed(2)) : 0;
              if (e.data[1] != undefined)
                e.data[1].y =
                  e.data[1].y != 0 ? parseFloat(e.data[1].y.toFixed(2)) : 0;
              if (e.data[2] != undefined)
                e.data[2].y =
                  e.data[2].y != 0 ? parseFloat(e.data[2].y.toFixed(2)) : 0;
              if (e.data[3] != undefined)
                e.data[3].y =
                  e.data[3].y != 0 ? parseFloat(e.data[3].y.toFixed(2)) : 0;
              if (e.data[4] != undefined)
                e.data[4].y =
                  e.data[4].y != 0 ? parseFloat(e.data[4].y.toFixed(2)) : 0;
              if (e.data[5] != undefined)
                e.data[5].y =
                  e.data[5].y != 0 ? parseFloat(e.data[5].y.toFixed(2)) : 0;
              if (e.data[6] != undefined)
                e.data[6].y =
                  e.data[6].y != 0 ? parseFloat(e.data[6].y.toFixed(2)) : 0;
              if (e.data[7] != undefined)
                e.data[7].y =
                  e.data[7].y != 0 ? parseFloat(e.data[7].y.toFixed(2)) : 0;
              if (e.data[8] != undefined)
                e.data[8].y =
                  e.data[8].y != 0 ? parseFloat(e.data[8].y.toFixed(2)) : 0;
              if (e.data[9] != undefined)
                e.data[9].y =
                  e.data[9].y != 0 ? parseFloat(e.data[9].y.toFixed(2)) : 0;
              if (e.data[10] != undefined)
                e.data[10].y =
                  e.data[10].y != 0 ? parseFloat(e.data[10].y.toFixed(2)) : 0;
              if (e.data[11] != undefined)
                e.data[11].y =
                  e.data[11].y != 0 ? parseFloat(e.data[11].y.toFixed(2)) : 0;
            });

            /*-------------------------------------->CONF GRAFIC (SIN VM)*/
            let GB = response.Data;
            this.datos = GB;

            this.ChartBar = {
              chart: {
                id: "chart2",
                type: "bar",
                height: 230,
                toolbar: {
                  autoSelected: "pan",
                  show: false
                },
                events: {
                  dataPointSelection: (event, chartContext, config) => {
                    let ejeX =
                      config.w.config.series[config.seriesIndex].data[
                        config.dataPointIndex
                      ].x;
                    switch (this.tipoDetalle) {
                      case 0:
                        this.tipoDetalle = 1;
                        this.Mes = ejeX;
                        break;
                      // case 1:
                      //   this.tipoDetalle = 2;
                      //   this.Semana = ejeX;
                      //   let dia1 = ejeX.getFirstDayOfWeek(
                      //     this.Years,
                      //     this.Mes - 1
                      //   );
                      //   let dia2 = ejeX.getLastDayOfWeek(
                      //     this.Years,
                      //     this.Mes - 1
                      //   );
                      //   this.lblSemana = "SEM. " + dia1 + " - " + dia2;
                      //   break;
                    }
                  }
                }
              },
              title: {
                text: "Rendimiento por tipo de vehículo",
                align: "center",
                style: {
                  fontSize: "11px",
                  fontWeight: "bold",
                  color: "#263238"
                }
              },
              legend: {
                position: "top"
              },
              tooltip: {
                y: {
                  formatter: function(val) {
                    return val + " KMS/LTS";
                  }
                },
                theme: "dark"
              },
              stroke: {
                width: 3
              },
              grid: {
                borderColor: "#555",
                row: {
                  colors: ["#fff", "#f2f2f2"]
                },
                yaxis: {
                  lines: {
                    show: false
                  }
                },
                padding: {
                  left: 30, // or whatever value that works
                  right: 30 // or whatever value that works
                }
              },
              /* ---- */
              colors: this.generaColor(response.Data.graphic.series.length),
              /* ---- */
              dataLabels: {
                enabled: false
              },
              fill: {
                type: "gradient",
                gradient: {
                  shade: "light",
                  type: "horizontal",
                  shadeIntensity: 0.25,
                  gradientToColors: undefined,
                  inverseColors: true,
                  opacityFrom: 0.85,
                  opacityTo: 0.85,
                  stops: [50, 0, 100]
                }
              },
              markers: {
                size: 5,
                colors: ["#000524"],
                strokeColor: "#00BAEC",
                strokeWidth: 3
              },
              xaxis: {
                type: "category",
                tickAmount: 1,
                max: 12,
                labels: {
                  formatter: (value) => {
                    let title = value;
                    if (value > 0) {
                      let cadena = Math.round(value);
                      if (this.tipoDetalle == 0) {
                        switch (parseInt(cadena)) {
                          case 1:
                            title = "ENE";
                            break;
                          case 2:
                            title = "FEB";
                            break;
                          case 3:
                            title = "MAR";
                            break;
                          case 4:
                            title = "ABR";
                            break;
                          case 5:
                            title = "MAY";
                            break;
                          case 6:
                            title = "JUN";
                            break;
                          case 7:
                            title = "JUL";
                            break;
                          case 8:
                            title = "AGO";
                            break;
                          case 9:
                            title = "SEP";
                            break;
                          case 10:
                            title = "OCT";
                            break;
                          case 11:
                            title = "NOV";
                            break;
                          case 12:
                            title = "DIC";
                            break;
                          default:
                            title = "";
                            break;
                        }
                      } else if (this.tipoDetalle == 1) {
                        if (
                          cadena == GB.graphic.series[0].data[0].x ||
                          cadena ==
                            GB.graphic.series[0].data[
                              GB.graphic.series[0].data.length - 1
                            ].x
                        ) {
                          title = "";
                        } else {
                          let dia1 = cadena.getFirstDayOfWeek(
                            this.Years,
                            this.Mes - 1
                          );
                          let dia2 = cadena.getLastDayOfWeek(
                            this.Years,
                            this.Mes - 1
                          );
                          title = "SEM. " + dia1 + " - " + dia2;
                        }
                      } else {
                        if (
                          cadena == GB.graphic.series[0].data[0].x ||
                          cadena ==
                            GB.graphic.series[0].data[
                              GB.graphic.series[0].data.length - 1
                            ].x
                        ) {
                          title = "";
                        } else {
                          title = "DÍA " + cadena;
                        }
                      }
                    }
                    return title;
                  }
                }
              },
              yaxis: {
                min: 0,
                tickAmount: 4,
                title: {
                  text: "KMS/LTS"
                }
              }
            };

            this.SeriesBar = GB.graphic.series;
            this.ChartLine = {
              chart: {
                id: "chart1",
                height: 130,
                type: "bar",
                foreColor: "#ccc",
                brush: {
                  target: "chart2",
                  enabled: true
                },
                selection: {
                  enabled: true,
                  xaxis: {
                    min:
                      this.tipoDetalle == 0
                        ? 1
                        : this.tipoDetalle == 1
                        ? GB.graphic.series[0].data[1].x
                        : GB.graphic.series[0].data[1].x,
                    max:
                      this.tipoDetalle == 0
                        ? 12
                        : this.tipoDetalle == 1
                        ? GB.graphic.series[0].data[
                            GB.graphic.series[0].data.length - 2
                          ].x
                        : GB.graphic.series[0].data[
                            GB.graphic.series[0].data.length - 2
                          ].x
                  }
                }
              },
              legend: {
                show: false
              },
              stroke: {
                width: 1
              },
              grid: {
                row: {
                  colors: ["#fff", "#f2f2f2"]
                },
                padding: {
                  left: 30, // or whatever value that works
                  right: 50 // or whatever value that works
                }
              },
              markers: {
                size: 0
              },
              colors: ["#008FFB"],
              fill: {
                type: "gradient",
                gradient: {
                  opacityFrom: 0.91,
                  opacityTo: 0.1
                }
              },
              xaxis: {
                type: "category",
                tickAmount: 2,
                tooltip: {
                  enabled: false
                },
                labels: {
                  format: "MM",
                  formatter: (value) => {
                    let title = value;
                    if (value > 0) {
                      let cadena = Math.round(value);
                      if (this.tipoDetalle == 0) {
                        switch (parseInt(cadena)) {
                          case 1:
                            title = "ENE";
                            break;
                          case 2:
                            title = "FEB";
                            break;
                          case 3:
                            title = "MAR";
                            break;
                          case 4:
                            title = "ABR";
                            break;
                          case 5:
                            title = "MAY";
                            break;
                          case 6:
                            title = "JUN";
                            break;
                          case 7:
                            title = "JUL";
                            break;
                          case 8:
                            title = "AGO";
                            break;
                          case 9:
                            title = "SEP";
                            break;
                          case 10:
                            title = "OCT";
                            break;
                          case 11:
                            title = "NOV";
                            break;
                          case 12:
                            title = "DIC";
                            break;
                          default:
                            title = "";
                            break;
                        }
                      } else if (this.tipoDetalle == 1) {
                        if (
                          cadena == GB.graphic.series[0].data[0].x ||
                          cadena ==
                            GB.graphic.series[0].data[
                              GB.graphic.series[0].data.length - 1
                            ].x
                        ) {
                          title = "";
                        } else {
                          title = "SEM. " + cadena;
                        }
                      } else {
                        if (
                          cadena == GB.graphic.series[0].data[0].x ||
                          cadena ==
                            GB.graphic.series[0].data[
                              GB.graphic.series[0].data.length - 1
                            ].x
                        ) {
                          title = "";
                        } else {
                          title = "DÍA " + cadena;
                        }
                      }
                    }
                    return title;
                  }
                }
              },
              yaxis: {
                labels: {
                  show: false
                },
                tickAmount: 2
              }
            };
            this.SeriesLine = GB.graphic.series;
          }
        }
      });
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getYears() {
      this.Years = new Date().getFullYear();
      $.ajax({
        url: this.WS + "/AniosViajes/getYears/?id=" + this.$route.query.Id,
        //-->url: this.WS + "/AniosViajes/getYears/" + this.$route.query.Id,
        type: "GET",
        dataType: "Json",
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            for (var i in response.Data) {
              this.options2.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
            }
          }
        }
      });
    },
    forceRerender() {
      this.renderComponents = false;

      this.$nextTick(() => {
        this.renderComponents = true;
      });
    },
    generaColor(numSeries) {
      var colors = [];
      var letters = "0123456789ABCDEF".split("");

      var count = 0;
      while (count < numSeries) {
        var color = "#";
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        colors.push(color);
        count++;
      }

      return colors;
    },
    Reset() {
      this.tipoDetalle = -1;
      this.getDatos();
    },
    getNameMes(mes) {
      switch (mes) {
        case 1:
          return "ENERO";
        case 2:
          return "FEBRERO";
        case 3:
          return "MARZO";
        case 4:
          return "ABRIL";
        case 5:
          return "MAYO";
        case 6:
          return "JUNIO";
        case 7:
          return "JULIO";
        case 8:
          return "AGOSTO";
        case 9:
          return "SEPTIEMBRE";
        case 10:
          return "OCTUBRE";
        case 11:
          return "NOVIEMBRE";
        case 12:
          return "DICIEMBRE";
      }
    },
    Reload(detalle) {
      this.tipoDetalle = detalle;
    }
  },
  created() {
    if (this.$route.query.Id > 0) {
      this.getYears();
      this.getDatos();
    } else {
      window.location.href = "./";
    }
  },
  mounted() {
    if (this.tipoDetalle == 0) {
      this.Breadcrumb = `AÑO ${this.Years}`;
    }
  },
  watch: {
    TipoViaje() {
      this.getDatos();
      this.forceRerender();
    },
    Years(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        if (NewVal > 0) {
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
        }
      }
    },
    tipoDetalle(NewVal) {
      if (NewVal > 0) {
        if (this.tipoDetalle == 2) {
          this.fgAjustarColumna = true;
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
        } else {
          this.fgAjustarColumna = true;
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
          this.Breadcrumb = `<a href="javascript:void(0)" style="cursor:auto">AÑO ${
            this.Years
          }</a> / ${this.getNameMes(this.Mes)}`;
        }
      } else {
        if (NewVal == 0) {
          this.fgAjustarColumna = false;
          this.Mes = 0;
          this.Semana = 0;
          setTimeout(() => {
            this.forceRerender();
          }, 500);
          this.Breadcrumb = `AÑO ${this.Years}`;
        }
      }
    }
  },
  components: {
    apexchart: VueApexCharts,
    AgGridTable
  }
};
</script>