<template>
  <vx-card>
    <div class="vx-row mb-4">
      <div class="vx-col w-full">
        <div class="vx-row">
          <div class="vx-col w-full mb-4">
            <h4>ROTACIÓN DE VEHÍCULOS/TODA LA FLOTILLA</h4>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-1/2">
            <label for>Año inicial</label>
            <select name id="selectYears" class="select-large vs-select--input" v-model="YearsIni">
              <option
                :key="index"
                v-for="(item,index) in options1"
                :value="item.value"
              >{{item.text}}</option>
            </select>
          </div>
          <div class="vx-col w-1/2">
            <label for>Año final</label>
            <select
              name
              id="selectTipoViaje"
              class="select-large vs-select--input"
              v-model="YearsFin"
            >
              <option
                :key="index"
                v-for="(item,index) in options2"
                :value="item.value"
              >{{item.text}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <vue-apex-charts
          type="line"
          height="350"
          :options="datos.graphic.chartOptions"
          :series="datos.graphic.series"
          v-if="renderComponents"
        ></vue-apex-charts>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <h6>{{titleTable}}</h6>
        <Ag-Grid-Table
          :data="datos"
          :title="titleTable"
          v-if="renderComponents"
          :TipoIndicador="7"
          :AnioInicio="YearsIni"
          :AnioFin="YearsFin"
        ></Ag-Grid-Table>
      </div>
    </div>
  </vx-card>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
import AgGridTable from "@/components/ag-grid-table/AgGridTable.vue";
import $ from "jquery";

export default {
  data() {
    return {
      datos: null,
      renderComponents: true,
      title: "Viajes realizados por las unidades.",
      titleTable: null,
      Empresa: "",
      YearsIni: 0,
      options1: [],
      YearsFin: 0,
      options2: []
    };
  },
  methods: {
    getDatos() {
      this.$vs.loading();
      let parameter = {
        EmpresaID: this.$route.query.Id,
        Anio: this.YearsIni,
        AnioFin: this.YearsFin
      };
      this.titleTable =
        "ROTACIÓN DE VEHÍCULOS/TODA LA FLOTILLA DEL AÑO " +
        this.YearsIni +
        " AL AÑO " +
        this.YearsFin;
      $.ajax({
        url: this.WS + "/Rotacion/getIndicadorRotaionesDED",
        type: 'POST',
        dataType: "Json",
        data: parameter,
        async: false,
        success: response => {
          if (response.Estatus == 1) {

            for(var i in response.Data.json){
              response.Data.json[i].Enero = response.Data.json[i].Enero + " %";
              response.Data.json[i].Febrero = response.Data.json[i].Febrero + " %";
              response.Data.json[i].Marzo = response.Data.json[i].Marzo + " %";
              response.Data.json[i].Abril = response.Data.json[i].Abril + " %";
              response.Data.json[i].Mayo = response.Data.json[i].Mayo + " %";
              response.Data.json[i].Junio = response.Data.json[i].Junio + " %";
              response.Data.json[i].Julio = response.Data.json[i].Julio + " %";
              response.Data.json[i].Agosto = response.Data.json[i].Agosto + " %";
              response.Data.json[i].Septiembre = response.Data.json[i].Septiembre + " %";
              response.Data.json[i].Octubre = response.Data.json[i].Octubre + " %";
              response.Data.json[i].Noviembre = response.Data.json[i].Noviembre + " %";
              response.Data.json[i].Diciembre = response.Data.json[i].Diciembre + " %";
              response.Data.json[i].Acum = Math.round(response.Data.json[i].Acum, 2) + " %";
            }
            this.datos = response.Data;
            this.datos.graphic.chartOptions["legend"] = {
              position: "top",              
            };
            this.datos.graphic.chartOptions["chart"]["zoom"] = {
              enabled: false,
            }
            this.datos.graphic.chartOptions["chart"]["animations"] = {
              enabled: false,
            }            
            this.datos.graphic.chartOptions["chart"]["selection"] = {
              enabled: false,
            };            
            this.datos.graphic.chartOptions["yaxis"] = {            
              title: {
                text: "PORCENTAJE DE ROTACIÓN"
              },
              labels: {
                formatter: (value) =>{
                  return value + " %";
                }
              },
              min: 0,
              max: 100
            };
           
            this.datos.graphic.chartOptions["title"] = {
              text: "ROTACIONES",
              align: "center",
              style: {
                fontSize: "11px",
                fontWeight: "bold",
                color: "#263238"
              }
            };
          }
        }
      });
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getYears() {
      this.YearsIni = new Date().getFullYear();
      this.YearsFin = new Date().getFullYear();
      // let parameter = { EmpresaID: this.$route.query.Id };
      $.ajax({
        url: this.WS + "/AniosViajes/getYears/?id=" + this.$route.query.Id,
        type: "GET",
        dataType: "Json",
        async: false,
        success: response => {
          console.log(response);
          if (response.Estatus == 1) {
            for (var i in response.Data) {
              this.Empresa = response.Data[i].Nombre;
              this.options1.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
              this.options2.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
            }
          }
        }
      });
    },
    forceRerender() {
      this.renderComponents = false;
      this.$nextTick(() => {
        this.renderComponents = true;
      });
    }
  },
  created() {
    //this.$vs.loading()
    if (this.$route.query.Id > 0) {
      this.getYears();
      this.getDatos();
    } else {
      window.location.href = "./";
    }
  },
  mounted() {},
  watch: {
    //Watch = "Trae el valor anterior seleccionado"
    YearsIni(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        if (NewVal > 0) {
          if (NewVal > this.YearsFin) {
            this.YearsFin = NewVal;
          }

          if (NewVal != this.YearsFin) {
            this.titleTable =
              "Rotaciones del año " + NewVal + " al " + this.YearsFin;
          } else {
            this.titleTable = "Rotaciones del año " + NewVal;
          }
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
        }
      }
    },
    YearsFin(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        if (NewVal > 0) {
          if (NewVal < this.YearsIni) {
            this.YearsIni = NewVal;
          }

          if (NewVal != this.YearsIni) {
            this.titleTable =
              "Rotaciones del año " + this.YearsIni + " al " + NewVal;
          } else {
            this.titleTable = "Rotaciones del año " + NewVal;
          }

          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
        }
      }
    }
  },
  components: {
    VueApexCharts,
    AgGridTable
  }
};
</script>