<template>
  <vx-card id="ViajesLF">
    <div class="vx-row mb-4">
      <div class="vx-col w-full">
        <div class="vx-row">
          <div class="vx-col w-full mb-4">
            <h4>VIAJES MENSUALES POR TIENDA (LOCALES Y FORÁNEOS) / TODA LA FLOTILLA</h4>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-1/3">
            <label for>Año</label>
            <select name id="selectYears" class="select-large vs-select--input" v-model="Years">
              <option
                :key="index"
                v-for="(item,index) in options2"
                :value="item.value"
              >{{item.text}}</option>
            </select>
          </div>
          <div class="vx-col w-1/3">
            <label for>Tipo de viaje</label>
            <select
              name
              id="selectTipoViaje"
              class="select-large vs-select--input"
              v-model="TipoViaje"
            >
              <option
                :key="index"
                v-for="(item,index) in options1"
                :value="item.value"
              >{{item.text}}</option>
            </select>
          </div>
          <div class="vx-col w-1/3 pt-5">
            <vs-button
              color="danger"
              class="w-full"
              type="border"
              icon-pack="feather"
              icon="icon-refresh-ccw"
              v-on:click="Reset()"
            >Resetear</vs-button>
          </div>
        </div>
      </div>
    </div>
    <div class="vx-row w-full">
      <div class="vx-col w-full" id="contentBreadcrumb" v-html="Breadcrumb">
        <!-- {{this.Breadcrumb}} -->
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <div
          id="wrapper"
          style="position: relative;                        
            margin: 0 auto;"
        >
          <div id="chart-line2">
            <apexchart
              type="bar"
              height="230"
              :options="ChartBar"
              :series="SeriesBar"
              v-if="renderComponents"
            ></apexchart>
          </div>
          <div id="chart-line" style="position: relative;
            margin-top: -38px;">
            <apexchart
              type="bar"
              height="130"
              :options="ChartLine"
              :series="SeriesLine"
              v-if="renderComponents"
            ></apexchart>
          </div>
        </div>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <h6>{{titleTable}}</h6>
        <br />
        <Ag-Grid-Table
          :data="datos"
          :title="titleTable"
          v-if="renderComponents"
          :TipoIndicador="6"
          :AnioInicio="Years"
          :AnioFin="TipoViaje"
          :Mes="Mes"
          :tipoDetalle="tipoDetalle"
          :Semana="Semana"
          :fgAjustarColumna="fgAjustarColumna"
        ></Ag-Grid-Table>
      </div>
    </div>
  </vx-card>
</template>
<script>
//import datosJson from './json/ViajesLF2.json'
//import datosJson from './Axios/Request.js'
import VueApexCharts from "vue-apexcharts";
import AgGridTable from "@/components/ag-grid-table/AgGridTable.vue";
import $ from "jquery";

export default {
  data() {
    return {      
      datos: null,
      ChartBar: null,
      ChartLine: null,
      SeriesBar: null,
      SeriesLine: null,
      renderComponents: true,
      tipoDetalle: 0,
      Mes: 0,
      Semana: 0,
      title: "Contabilidad de viajes agrupados en foráneos o locales.",
      Empresa: "",
      titleTable: null,
      TipoViaje: 1,
      options1: [
        { text: "Local", value: 1 },
        { text: "Foráneo", value: 0 },
        { text: "Ambos", value: 2 }
      ],
      Years: 0,
      fgFiltroAvanzado: false,
      popupActive: false,
      options2: [],
      Breadcrumb: "",
      enunciado: null,
      fgAjustarColumna: false,
      lblSemana : ""
    };
  },
  methods: {
    getDatos() {
      this.$vs.loading();

      if(this.tipoDetalle == -1){
        this.tipoDetalle = 0;
      }

      if (this.TipoViaje == 1) {
        this.AplicaLF = 1;
        this.enunciado = "LOCALES";
      } else if (this.TipoViaje == 0) {
        this.AplicaLF = 1;
        this.enunciado = "FORÁNEOS";
      } else {
        this.AplicaLF = 0;
        this.enunciado = "LOCALES Y FORÁNEOS";
      }
      let parameter = {
        EmpresaID: this.$route.query.Id,
        tipo: this.TipoViaje,
        Anio: this.Years,
        tipoDetalle: this.tipoDetalle,
        Mes: this.Mes,
        Semana: this.Semana
      };

      this.titleTable =
        "VIAJES MENSUALES POR TIENDA DE TIPO " +
        this.enunciado +
        " REALIZADOS DEL AÑO " +
        this.Years;
      $.ajax({
        url: this.WS + ((this.tipoDetalle == 0) ? "/ViajesLF/getIndicadorViajesLF" : "/ViajesLF/getIndicadorViajesLFDetalle"),
        type: "POST",
        dataType: "Json",
        data: parameter,
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            let GB = response.Data;
            this.datos = GB;
            // if(this.tipoDetalle == 0){
              
            // }            

            this.ChartBar = {
              chart: {
                id: "chart2",
                type: "bar",
                height: 230,
                toolbar: {
                  autoSelected: "pan",
                  show: false
                },
                events: {
                  dataPointSelection: (event, chartContext, config) => {
                    let ejeX =
                      config.w.config.series[config.seriesIndex].data[
                        config.dataPointIndex
                      ].x;
                    //let ejeY = config.w.config.series[config.seriesIndex].data[config.dataPointIndex].y;
                    //console.log(config.w.config.series[config.seriesIndex].data[config.dataPointIndex].x)
                    //console.log(config.w.config.series[config.seriesIndex].data[config.dataPointIndex].y)
                    switch (this.tipoDetalle) {
                      case 0:
                        this.tipoDetalle = 1;
                        this.Mes = ejeX;                                                
                        break;
                      // case 1:
                      //   this.tipoDetalle = 2;
                      //   this.Semana = ejeX; 
                      //   let dia1 = ejeX.getFirstDayOfWeek(this.Years, (this.Mes - 1));
                      //   let dia2 = ejeX.getLastDayOfWeek(this.Years, (this.Mes - 1));
                      //     //console.log("SEM. " + dia1 + " - " + 0);
                      //   this.lblSemana = "SEM. " + dia1 + " - " + dia2;                       
                      //   break;
                    }
                    //alert(config.seriesIndex + " _ "+ config.dataPointIndex)
                  }
                }
              },
              title: {
                text:
                  "Número de viajes " +
                  (this.TipoViaje == 1
                    ? "locales"
                    : this.TipoViaje == 0
                    ? "foráneos"
                    : "locales Y foráneos"),
                align: "center",
                style: {
                  fontSize: "11px",
                  fontWeight: "bold",
                  color: "#263238"
                }
              },
              legend: {
                position: "top"
              },
              colors: this.generaColor(response.Data.graphic.series.length),
              tooltip: {
                y: {
                  formatter: function(val) {
                    return val + " VIAJES";
                  }
                },
                theme: "dark"
              },
              stroke: {
                width: 3
              },
              grid: {
                borderColor: "#555",
                row: {
                  colors: ["#fff", "#f2f2f2"]
                },
                yaxis: {
                  lines: {
                    show: false
                  }
                },
                padding: {
                  left: 30, // or whatever value that works
                  right: 60 // or whatever value that works
                }
              },
              dataLabels: {
                enabled: false
              },
              fill: {
                type: "gradient",
                gradient: {
                  shade: "light",
                  type: "horizontal",
                  shadeIntensity: 0.25,
                  gradientToColors: undefined,
                  inverseColors: true,
                  opacityFrom: 0.85,
                  opacityTo: 0.85,
                  stops: [50, 0, 100]
                }
              },
              markers: {
                size: 5,
                colors: ["#000524"],
                strokeColor: "#00BAEC",
                strokeWidth: 3
              },
              xaxis: {
                type: "category",
                tickAmount: 1,
                max: 12,
                labels: {
                  formatter: (value) => {
                    let title = value;
                    //alert(value);
                    if (value > 0) {
                      let cadena = Math.round(value);
                      if (this.tipoDetalle == 0) {
                        switch (parseInt(cadena)) {
                          case 1:
                            title = "ENE";
                            break;
                          case 2:
                            title = "FEB";
                            break;
                          case 3:
                            title = "MAR";
                            break;
                          case 4:
                            title = "ABR";
                            break;
                          case 5:
                            title = "MAY";
                            break;
                          case 6:
                            title = "JUN";
                            break;
                          case 7:
                            title = "JUL";
                            break;
                          case 8:
                            title = "AGO";
                            break;
                          case 9:
                            title = "SEP";
                            break;
                          case 10:
                            title = "OCT";
                            break;
                          case 11:
                            title = "NOV";
                            break;
                          case 12:
                            title = "DIC";
                            break;
                          default:
                            title = "";
                            break;
                        }
                      } else if (this.tipoDetalle == 1) {
                        if(cadena == GB.graphic.series[0].data[0].x || cadena == GB.graphic.series[0].data[GB.graphic.series[0].data.length - 1].x){
                          title = "";
                        }else{
                          let dia1 = cadena.getFirstDayOfWeek(this.Years, (this.Mes - 1));
                          let dia2 = cadena.getLastDayOfWeek(this.Years, (this.Mes - 1));
                          //console.log("SEM. " + dia1 + " - " + 0);
                          title = "SEM. " + dia1 + " - " + dia2;
                        }                        
                      } else {
                        if(cadena == GB.graphic.series[0].data[0].x || cadena == GB.graphic.series[0].data[GB.graphic.series[0].data.length - 1].x){
                          title = "";
                        }else{
                          title = "DÍA " + cadena;
                        }
                        
                      }
                    }
                    return title; // The formatter function overrides format property
                  }
                }
              },
              yaxis: {
                min: 0,
                tickAmount: 4,
                title: {
                  text: "VIAJES"
                }
              }
            };
            this.SeriesBar = GB.graphic.series;

            this.ChartLine = {
              chart: {
                id: "chart1",
                height: 130,
                type: "bar",
                foreColor: "#ccc",
                brush: {
                  target: "chart2",
                  enabled: true
                },
                selection: {
                  enabled: true,
                  xaxis: {
                    min:
                    this.tipoDetalle == 0
                      ? 1
                      : this.tipoDetalle == 1
                      ? GB.graphic.series[0].data[1].x
                      : GB.graphic.series[0].data[1].x,
                  max:
                    this.tipoDetalle == 0
                      ? 12
                      : this.tipoDetalle == 1
                      ? GB.graphic.series[0].data[
                          GB.graphic.series[0].data.length - 2
                        ].x
                      : GB.graphic.series[0].data[
                          GB.graphic.series[0].data.length - 2
                        ].x
                  }
                }
              },
              legend: {
                show: false
              },
              stroke: {
                width: 1
              },
              grid: {
                row: {
                  colors: ["#fff", "#f2f2f2"]
                },
                padding: {
                  left: 30, // or whatever value that works
                  right: 50 // or whatever value that works
                }
              },
              markers: {
                size: 0
              },
              colors: ["#008FFB"],
              fill: {
                type: "gradient",
                gradient: {
                  opacityFrom: 0.91,
                  opacityTo: 0.1
                }
              },
              xaxis: {
                type: "category",
                tickAmount: 2,
                tooltip: {
                  enabled: false
                },
                labels: {
                  format: "MM",
                  formatter: (value) => {
                    let title = value;
                    //alert(value);
                    if (value > 0) {
                      let cadena = Math.round(value);
                      if (this.tipoDetalle == 0) {
                        switch (parseInt(cadena)) {
                          case 1:
                            title = "ENE";
                            break;
                          case 2:
                            title = "FEB";
                            break;
                          case 3:
                            title = "MAR";
                            break;
                          case 4:
                            title = "ABR";
                            break;
                          case 5:
                            title = "MAY";
                            break;
                          case 6:
                            title = "JUN";
                            break;
                          case 7:
                            title = "JUL";
                            break;
                          case 8:
                            title = "AGO";
                            break;
                          case 9:
                            title = "SEP";
                            break;
                          case 10:
                            title = "OCT";
                            break;
                          case 11:
                            title = "NOV";
                            break;
                          case 12:
                            title = "DIC";
                            break;
                          default:
                            title = "";
                            break;
                        }
                      } else if (this.tipoDetalle == 1) {
                        if(cadena == GB.graphic.series[0].data[0].x || cadena == GB.graphic.series[0].data[GB.graphic.series[0].data.length - 1].x){
                          title = "";
                        }else{
                          let dia1 = cadena.getFirstDayOfWeek(this.Years, (this.Mes - 1));
                          let dia2 = cadena.getLastDayOfWeek(this.Years, (this.Mes - 1));
                          //console.log("SEM. " + dia1 + " - " + 0);
                          title = "SEM. " + dia1 + " - " + dia2;
                        }                          
                      } else {
                        if(cadena == GB.graphic.series[0].data[0].x || cadena == GB.graphic.series[0].data[GB.graphic.series[0].data.length - 1].x){
                          title = "";
                        }else{
                          title = "DÍA " + cadena;
                        }                          
                      }
                    }
                    return title; // The formatter function overrides format property
                  }
                }
              },
              yaxis: {
                labels: {
                  show: false
                },
                tickAmount: 2
              }
            };
            this.SeriesLine = GB.graphic.series;
           
          }
        }
      });      
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getYears() {
      this.Years = new Date().getFullYear();
      //let parameter = { id: this.$route.query.Id };
      $.ajax({
        url: this.WS + "/AniosViajes/getYears/?id=" + this.$route.query.Id,
        type: "GET",
        dataType: "Json",
        async: false,
        success: response => {
          //console.log(response);
          if (response.Estatus == 1) {
            for (var i in response.Data) {
              this.Empresa = response.Data[i].Nombre;
              this.options2.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
            }
          }
        }
      });
    },
    forceRerender() {
      this.renderComponents = false;

      this.$nextTick(() => {
        this.renderComponents = true;
      });
    },
    generaColor(numSeries) {
      var colors = [];
      var letters = "0123456789ABCDEF".split("");

      var count = 0;
      while (count < numSeries) {
        var color = "#";
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        colors.push(color);
        count++;
      }

      //-->console.log("colors-->", colors);
      return colors;
    },
    Reset(){
      this.tipoDetalle = -1;
      this.getDatos();
    },
    getNameMes(mes) {
      switch (mes) {
        case 1:
          return "ENERO";
        //break;
        case 2:
          return "FEBRERO";
        //break;
        case 3:
          return "MARZO";
        //break;
        case 4:
          return "ABRIL";
        //break;
        case 5:
          return "MAYO";
        //break;
        case 6:
          return "JUNIO";
        //break;
        case 7:
          return "JULIO";
        //break;
        case 8:
          return "AGOSTO";
        //break;
        case 9:
          return "SEPTIEMBRE";
        //break;
        case 10:
          return "OCTUBRE";
        //break;
        case 11:
          return "NOVIEMBRE";
        //break;
        case 12:
          return "DICIEMBRE";
        //break;
      }
    },
    Reload(detalle){
      this.tipoDetalle = detalle;
    }
  },
  created() {
    //this.$vs.loading()
    if (this.$route.query.Id > 0) {
      this.getYears();
      this.getDatos();
    } else {
      window.location.href = "./";
    }
  },
  mounted() {    
    if(this.tipoDetalle == 0){
      this.Breadcrumb = `AÑO ${this.Years}`;
    }
  },
  watch: {
    //Watch = "Trae el valor anterior seleccionado"
    TipoViaje(val) {
      this.titleTable =
        "Viajes agrupados " +
        (parseInt(val) == 1 ? "locales " : "foráneos ") +
        "del año " +
        this.Years;
      this.getDatos();
      this.forceRerender();
    },
    Years(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        if (NewVal > 0) {
         
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
          this.Breadcrumb = `AÑO ${this.Years}`;
        }
      }
    },
    tipoDetalle(NewVal){        
      if (NewVal > 0) {        
          if(this.tipoDetalle == 2){
              this.fgAjustarColumna = false;                 
              setTimeout(() => {
                this.getDatos();
                this.forceRerender();
              }, 500);
              this.Breadcrumb = `<a href="javascript:void(0)" style="cursor:auto">AÑO ${this.Years}</a> / <a href="javascript:void(0)" style="cursor:auto">${this.getNameMes(this.Mes)}</a> / ${this.lblSemana}`;                            
          }else{
            this.fgAjustarColumna = true;                        
            setTimeout(() => {
              this.getDatos();
              this.forceRerender();
            }, 500);
            this.Breadcrumb = `<a href="javascript:void(0)" style="cursor:auto">AÑO ${this.Years}</a> / ${this.getNameMes(this.Mes)}`;
          }
      }else{
        if(NewVal == 0){
          this.fgAjustarColumna = false; 
          this.Mes = 0;
          this.Semana = 0;            
          setTimeout(() => {
              //this.getDatos();
              this.forceRerender();
            }, 500);        
            this.Breadcrumb = `AÑO ${this.Years}`; 
        }
      }
    }
  },
  components: {
    apexchart: VueApexCharts,
    AgGridTable
  }
};
</script>