
<template>
  <div id="Viajes">
    <vx-card>
      <div class="vx-row mb-4">
        <div class="vx-col w-full">
          <div class="vx-row">
            <div class="vx-col w-full mb-4">
              <h4>
                {{title}}
              </h4>
            </div>
          </div>
          <div class="vx-row">
            <div class="vx-col w-1/3">
              <label for>Año Inicio</label>
              <select
                name
                id="selectYearsInicio"
                v-on:change="getDatos"
                class="select-large vs-select--input"
                v-model="AnioInicio"
              >
                <option
                  :key="index"
                  v-for="(item,index) in options1"
                  :value="item.value"
                >{{item.text}}</option>
              </select>
            </div>
            <div class="vx-col w-1/3">
              <label for>Año Fin</label>
              <select
                name
                id="selectYearsFin"
                v-on:change="getDatos"
                class="select-large vs-select--input"
                v-model="AnioFin"
              >
                <option
                  :key="index"
                  v-for="(item,index) in options2"
                  :value="item.value"
                >{{item.text}}</option>
              </select>
            </div>
            <div class="vx-col w-1/3">
              <label for>Tipo de Gráfica</label>
              <select
                name
                id="selectTipo"
                class="select-large vs-select--input"
                v-model="TipoGrafica"
                v-on:change="getTipo"
              >
                <option
                  :key="index"
                  v-for="(item,index) in optionsG"
                  :value="item.value"
                >{{item.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="vx-row">
        <!-- COLUMN CHART -->
        <div class="vx-col w-full">
          <vue-apex-charts
            type="line"
            height="350"
            :options="datos.graphic.chartOptions"
            :series="datos.graphic.series"
            v-if="renderComponents"
          ></vue-apex-charts>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full">
          <h6>{{titleTable}}</h6>
          <br />
          <Ag-Grid-Table
            :data="datos"
            v-if="renderComponents"
            :TipoIndicador="1"
            :AnioInicio="AnioInicio"
            :AnioFin="AnioFin"
            :title="titleTable"
          ></Ag-Grid-Table>
        </div>
      </div>
    </vx-card>
  </div>
</template>
<script>
//import viajes from './json/Viajes.json';
import VueApexCharts from "vue-apexcharts";
import AgGridTable from "@/components/ag-grid-table/AgGridTable.vue";
import $ from "jquery";

export default {
  data() {
    return {
      datos: null,
       titleTable : "VIAJES REALIZADOS POR MES / TODA LA FLOTILLA ",
      renderComponents: true,
      options2: [],
      options1: [],
      TipoGrafica: "line",
      optionsG: [
        { text: "Line", value: "line" },
        { text: "Bar", value: "bar" }
      ],
      AnioInicio: 0,
      AnioFin: 0,
      title: "VIAJES REALIZADOS POR MES / TODA LA FLOTILLA"
    };
  },
  methods: {
    getDatos() {
      // this.$vs.loading();

      let parameter = {
        AnioInicio: this.AnioInicio,
        AnioFin: this.AnioFin,
        type: this.TipoGrafica,
         Empresa: this.$route.query.Id   
      };

      $.ajax({
      url: this.WS + "/Viajes/getViajes",
        type: "POST",
        dataType: 'json',
        async: false,
        data:parameter,
        success: response => {
          if (response.Estatus == 1) {
   for(var i in response.Data.json){
   
   if(response.Data.json[i].years == 0)
     {
              response.Data.json[i].Enero = response.Data.json[i].Enero + " %";
              response.Data.json[i].Febrero = response.Data.json[i].Febrero + " %";
              response.Data.json[i].Marzo = response.Data.json[i].Marzo + " %";
              response.Data.json[i].Abril = response.Data.json[i].Abril + " %";
              response.Data.json[i].Mayo = response.Data.json[i].Mayo + " %";
              response.Data.json[i].Junio = response.Data.json[i].Junio + " %";
              response.Data.json[i].Julio = response.Data.json[i].Julio + " %";
              response.Data.json[i].Agosto = response.Data.json[i].Agosto + " %";
              response.Data.json[i].Septiembre = response.Data.json[i].Septiembre + " %";
              response.Data.json[i].Octubre = response.Data.json[i].Octubre + " %";
              response.Data.json[i].Noviembre = response.Data.json[i].Noviembre + " %";
              response.Data.json[i].Diciembre = response.Data.json[i].Diciembre + " %";
              response.Data.json[i].Acum = Math.round(response.Data.json[i].Acum, 2) + " %";
    }
   }
            this.datos = response.Data;



            this.datos.graphic.chartOptions["tooltip"] = {
              y: {
                formatter: function(val) {
                  return val + " VIAJES";
                }
              }
            };

            this.datos.graphic.chartOptions["yaxis"] = {
              title: {
                text: "VIAJES"
              }
            };

            this.datos.graphic.chartOptions["title"] = {
              text: "Número de viajes",
              align: "center",
              style: {
                fontSize: "11px",
                fontWeight: "bold",
                color: "#263238"
              }
            };
          }
        }
      });
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getTipo() {
      // this.$vs.loading();

      let parameter = {
        AnioInicio: this.AnioInicio,
        AnioFin: this.AnioFin,
        type: this.TipoGrafica,
         Empresa: this.$route.query.Id
      };
      $.ajax({
        url: this.WS + "/Viajes/getViajes",
        type: "POST",
        dataType: 'json',
        async: false,
        data: parameter,
        success: response => {
          if (response.Estatus == 1) {

             for(var i in response.Data.json){
   
   if(response.Data.json[i].years == 0)
     {
              response.Data.json[i].Enero = response.Data.json[i].Enero + " %";
              response.Data.json[i].Febrero = response.Data.json[i].Febrero + " %";
              response.Data.json[i].Marzo = response.Data.json[i].Marzo + " %";
              response.Data.json[i].Abril = response.Data.json[i].Abril + " %";
              response.Data.json[i].Mayo = response.Data.json[i].Mayo + " %";
              response.Data.json[i].Junio = response.Data.json[i].Junio + " %";
              response.Data.json[i].Julio = response.Data.json[i].Julio + " %";
              response.Data.json[i].Agosto = response.Data.json[i].Agosto + " %";
              response.Data.json[i].Septiembre = response.Data.json[i].Septiembre + " %";
              response.Data.json[i].Octubre = response.Data.json[i].Octubre + " %";
              response.Data.json[i].Noviembre = response.Data.json[i].Noviembre + " %";
              response.Data.json[i].Diciembre = response.Data.json[i].Diciembre + " %";
              response.Data.json[i].Acum = Math.round(response.Data.json[i].Acum, 2) + " %";
    }
   }
            this.datos = response.Data;

            this.datos.graphic.chartOptions["tooltip"] = {
              y: {
                formatter: function(val) {
                  return val + " VIAJES";
                }
              }
            };

            this.datos.graphic.chartOptions["yaxis"] = {
              title: {
                text: "VIAJES"
              }
            };

            this.datos.graphic.chartOptions["title"] = {
              text: "Número de viajes",
              align: "center",
              style: {
                fontSize: "11px",
                fontWeight: "bold",
                color: "#263238"
              }
            };
          }
        }
      });
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getYears() {
      this.AnioInicio = new Date().getFullYear();
      this.AnioFin = new Date().getFullYear();

      $.ajax({
        url: this.WS + "/AniosViajes/getYears/"+ this.$route.query.Id,
        type: "GET",
        dataType: 'json',
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            for (var i in response.Data) {
             // this.Empresa = response.Data[i].Nombre;
              this.options2.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
              this.options1.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
            }
          }
        }
      });
    },
    forceRerender() {
      this.renderComponents = false;

      this.$nextTick(() => {
        this.renderComponents = true;
      });
    }
  },
  created() {
    this.$vs.loading();

    this.getYears();
            this.getDatos();


  },
  mounted() {},
  watch: {
    AnioInicio(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        if (NewVal > 0) {
         this.titleTable = "VIAJES REALIZADOS POR MES / TODA LA FLOTILLA " + this.AnioInicio + " al " + this.AnioFin;

          setTimeout(() => {
            this.getDatos();
          }, 1000);
          this.forceRerender();
        }
      }
      if (this.AnioInicio > this.AnioFin) {
        this.AnioFin = this.AnioInicio;
             this.titleTable = "VIAJES REALIZADOS POR MES / TODA LA FLOTILLA " + this.AnioInicio + " al " + this.AnioFin;

        setTimeout(() => {
          this.getDatos();
        }, 1000);
        this.forceRerender();
      }
    },
    AnioFin(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        if (NewVal > 0) {
               this.titleTable = "VIAJES REALIZADOS POR MES / TODA LA FLOTILLA " + this.AnioInicio + " al " + this.AnioFin;

          setTimeout(() => {
            this.getDatos();
          }, 1000);
          this.forceRerender();
        }
      }
      if (this.AnioInicio > this.AnioFin) {
        this.AnioFin = this.AnioInicio;
         this.titleTable = "VIAJES REALIZADOS POR MES / TODA LA FLOTILLA " + this.AnioInicio + " al " + this.AnioFin;


        setTimeout(() => {
          this.getDatos();
        }, 1000);
        this.forceRerender();
      }
    }
  },
  components: {
    VueApexCharts,
    AgGridTable
  }
};
</script>