<template>
  <div id="Zonas">
    <vx-card>
      <div class="vx-row mb-4">
        <div class="vx-col w-full">
          <div class="vx-row">
            <div class="vx-col w-full mb-4">
              <h4>{{title}}</h4>
            </div>
          </div>
          <div class="vx-row">
            <div class="vx-col w-1/3">
              <label>Año</label>
              <select id="selectYears" class="select-large vs-select--input" v-model="Years">
                <option
                  :key="index"
                  v-for="(item,index) in options2"
                  :value="item.value"
                >{{item.text}}</option>
              </select>
            </div>
            <div class="vx-col w-1/3">
              <label for>Tipo de Gráfica</label>
              <select
                name
                id="selectTipo"
                class="select-large vs-select--input"
                v-model="TipoGrafica"
                v-on:change="getTipo"
              >
                <option
                  :key="index"
                  v-for="(item,index) in optionsG"
                  :value="item.value"
                >{{item.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="vx-row mb-base">
        <div class="vx-col w-full">
          <vue-apex-charts
            type="line"
            height="350"
            :options="datos.graphic.chartOptions"
            :series="datos.graphic.series"
            v-if="renderComponents"
          ></vue-apex-charts>
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col w-full">
          <h6>{{titleTable}}</h6>
          <br />
          <Ag-Grid-Table
            :data="datos"
            :title="titleTable"
            v-if="renderComponents"
            :advertencia="advertencia"
            :TipoIndicador="9"
            :AnioInicio="Years"
            :fgReportes="fgReportes"
          ></Ag-Grid-Table>
        </div>
      </div>
    </vx-card>
  </div>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
import AgGridTable from "@/components/ag-grid-table/AgGridTable.vue";
import $ from "jquery";

// const themeColors = ["#7367F0", "#28C76F", "#EA5455", "#FF9F43", "#1E1E1E"];

export default {
  data() {
    return {
      datos: null,
      renderComponents: true,
      titleTable: null,
      title: "VIAJES POR ZONAS AL MES / TODA LA FLOTILLA",
      Years: 0,
      options2: [],
      chartOptions: {},
      series: [],
      TipoGrafica: "line",
      optionsG: [
        { text: "Line", value: "line" },
        { text: "Bar", value: "bar" }
      ],
      advertencia: " Sin Dedicado, Sin Devoluciones",
      Anio: 0,
      tipoDetalle: 0,
      fgReportes: true
    };
  },
  methods: {
    getDatos() {
      this.$vs.loading();
      let parameter = {
        EmpresaID: this.$route.query.Id,
        Anio: this.Years,
        type: this.TipoGrafica
      };
      this.titleTable =
        "VIAJES POR ZONAS AL MES/TODA LA FLOTILLA DEL AÑO " +
        this.Years;
      $.ajax({
        url:
          this.WS +
          (this.tipoDetalle == 0
            ? "/Zonas/getIndicadorZona"
            : "/Zonas/getIndicadorZona"),
        type: "POST",
        dataType: "Json",
        data: parameter,
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            this.fgReportes = response.Data.json.length > 0 ? false : true;
            this.datos = response.Data;

            this.datos.graphic.chartOptions["tooltip"] = {
              y: {
                formatter: function(val) {
                  return val + " VIAJES";
                }
              }
            };
            this.datos.graphic.chartOptions["yaxis"] = {
              title: {
                text: "VIAJES"
              }
            };
            this.datos.graphic.chartOptions["title"] = {
              text: "Número de viajes",
              align: "center",
              style: {
                fontSize: "11px",
                fontWeight: "bold",
                color: "#263238"
              }
            };
          }
        }
      });
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getTipo() {
      let parameter = {
        EmpresaID: this.$route.query.Id,
        Anio: this.Years,
        type: this.TipoGrafica
      };
      $.ajax({
        url:
          this.WS +
          (this.tipoDetalle == 0
            ? "/Zonas/getIndicadorZona"
            : "/Zonas/getIndicadorZona"),
        type: "POST",
        dataType: "Json",
        data: parameter,
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            this.datos = response.Data;

            this.datos.graphic.chartOptions["tooltip"] = {
              y: {
                formatter: function(val) {
                  return val + " VIAJES";
                }
              }
            };
            this.datos.graphic.chartOptions["yaxis"] = {
              title: {
                text: "VIAJES"
              }
            };
            this.datos.graphic.chartOptions["title"] = {
              text: "Número de viajes",
              align: "center",
              style: {
                fontSize: "11px",
                fontWeight: "bold",
                color: "#263238"
              }
            };
          }
        }
      });
      setTimeout(() => {
        this.$vs.loading.close();
      }, 500);
    },
    getYears() {
      this.Years = new Date().getFullYear();
      $.ajax({
        url: this.WS + "/AniosViajes/getYears/?id=" + this.$route.query.Id,
        //-->url: this.WS + "/AniosViajes/getYears/" + this.$route.query.Id,
        type: "GET",
        dataType: "Json",
        async: false,
        success: response => {
          if (response.Estatus == 1) {
            for (var i in response.Data) {
              this.options2.push({
                text: response.Data[i].Anio,
                value: response.Data[i].Anio
              });
            }
          }
        }
      });
    },
    forceRerender() {
      this.renderComponents = false;

      this.$nextTick(() => {
        this.renderComponents = true;
      });
    }
  },
  created() {
    if (this.$route.query.Id > 0) {
      this.getYears();
      this.getDatos();
    } else {
      window.location.href = "./";
    }
  },
  mounted() {},
  watch: {
    //Watch = "Trae el valor anterior seleccionado"
    Years(NewVal, OldVal) {
      if (OldVal == 0) {
        this.forceRerender();
      } else {
        if (NewVal > 0) {
          setTimeout(() => {
            this.getDatos();
            this.forceRerender();
          }, 500);
        }
      }
    }
  },
  components: {
    VueApexCharts,
    AgGridTable
  }
};
</script>