<!-- =========================================================================================
    File Name: AgGridTable.vue
    Description: Ag Grid table
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div id="ag-grid-demo">
    <div v-if="advertencia != null">
      <h6>
        <span style="color:red;">
          <b>*</b>
        </span>
        {{advertencia}}
      </h6>
      <br />
    </div>
    <div class="flex flex-wrap justify-between items-center">
      <!-- ITEMS PER PAGE -->
      <div class="mb-4 md:mb-0 mr-4 ag-grid-table-actions-left">
        <vs-dropdown vs-trigger-click class="cursor-pointer">
          <div
            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
          >
            <!-- <span
              class="mr-2"
            >{{ currentPage * paginationPageSize - (paginationPageSize - 1) }} - {{ json.json.length - currentPage * paginationPageSize > 0 ? currentPage * paginationPageSize : json.json.length }} de {{ json.json.length }}</span> -->
            <span
              class="mr-2"
            >{{ json.json.length }} registros</span>
            <!-- <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" /> -->
          </div>
          <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
          <vs-dropdown-menu>
            <!-- <vs-dropdown-item @click="json.gridApi.paginationSetPageSize(10)">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="json.gridApi.paginationSetPageSize(50)">
                <span>50</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="json.gridApi.paginationSetPageSize(100)">
                <span>100</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="json.gridApi.paginationSetPageSize(150)">
                <span>150</span>
            </vs-dropdown-item>-->
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

      <div class="mb-4 md:mb-0 mr-4 ag-grid-table-actions-left">
        <vs-checkbox v-model="CheckBox1" id="CheckBoxFilter" v-if="fgActive">{{CheckboxText}}</vs-checkbox>
      </div>

      <!-- TABLE ACTION COL-2: SEARCH & EXPORT AS CSV -->
      <div class="flex flex-wrap items-center justify-between ag-grid-table-actions-right">
        <vs-input
          class="mb-4 md:mb-0 mr-4"
          v-model="json.searchQuery"
          @input="updateSearchQuery"
          placeholder="Búsqueda..."
        />
        <vs-button class="mb-4 md:mb-0" type="filled"  v-if="!fgReportes" @click="getReporte">Exportar Excel</vs-button>&nbsp;
        <vs-button class="mb-4 md:mb-0" type="filled" v-if="!fgReportes" @click="getReportePdf">Exportar Pdf</vs-button>
      </div>
    </div>
    <ag-grid-vue
      ref="agGridTable"
      :gridOptions="json.gridOptions"
      class="ag-theme-material w-100 my-4 ag-grid-table"
      :columnDefs="json.columnDefs"
      :defaultColDef="json.defaultColDef"
      :rowData="json.json"
      rowSelection="multiple"
      colResizeDefault="shift"
      autoSizeColumns="true"
      :animateRows="true"
      :floatingFilter="false"
      :pagination="false"
      :paginationPageSize="paginationPageSize"
      :suppressPaginationPanel="true"
      overlayNoRowsTemplate="No se encontraron resultados."
      :enableRtl="$vs.rtl"
      style="max-height: 400px;width:100%"
    ></ag-grid-vue>
    <!-- <vs-pagination
        :total="totalPages"
        :max="json.maxPageNumbers"
    v-model="currentPage" />-->
    <!-- TABLE ACTION ROW -->
    
  </div>
</template>

<script>
import { AgGridVue } from "ag-grid-vue";
// import $ from "jquery"
import "@/assets/scss/vuexy/extraComponents/agGridStyleOverride.scss";

export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    title: {
      type: String
    },
    fgActive: {
      type: Boolean
    },
    CheckboxText: {
      type: String,
      val: ""
    },
    advertencia: {
      type: String,
      required: false
    },
    CheckBoxFilter: {
      type: Boolean
    },
    TipoIndicador: {
      type: Number
    },    
    AnioInicio: {
      type: Number
    },
    AnioFin: {
      type: Number
    },
    Mes: {
      type: Number
    },
    Semana: {
      type: Number
    },
    Empresa: {
      type: String
    },
    TipoViaje: {
      type: Number
    },
    AplicaLF: {
      type: Number
    },
    tipoDetalle: {
      type: Number
    },
    fgAjustarColumna: {
      type: Boolean,
      val: false
    },
    fgReportes: {
      type: Boolean,
      required: true,
      val: true
    }
  },
  data() {
    return {
      json: this.data,
      HeaderText: this.title,
      CheckBox1: this.CheckBoxFilter
    };
  },
  components: {
    AgGridVue
  },
  watch: {
    "$store.state.windowWidth"(val) {
      if (val <= 576) {
        this.json.maxPageNumbers = 10;
        this.json.gridOptions.columnApi.setColumnPinned("email", null);
      } else this.json.gridOptions.columnApi.setColumnPinned("email", "left");
    },
    CheckBox1() {
      this.CheckBox1 = this.CheckBoxFilter;
    }
  },
  computed: {
    paginationPageSize() {
      if (this.json.gridApi) return this.json.gridApi.paginationGetPageSize();
      else return 50;
    },
    totalPages() {
      if (this.json.gridApi) return this.json.gridApi.paginationGetTotalPages();
      else return 0;
    },
    currentPage: {
      get() {
        if (this.json.gridApi)
          return this.json.gridApi.paginationGetCurrentPage() + 1;
        else return 1;
      },
      set(val) {
        this.json.gridApi.paginationGoToPage(val - 1);
      }
    }
  },
  methods: {
    updateSearchQuery(val) {
      this.json.gridApi.setQuickFilter(val);
    },
    getID(id){
      return id;
    },
    getReporte() {
      let parameters = {
        Titulo: this.title,
        Tipo: this.TipoIndicador,
        AnioInicio: this.AnioInicio,
        AnioFin: this.AnioFin,
        Mes: this.Mes,
        Semana: this.Semana,
        Empresa: this.$route.query.Id,
        AplicaLF: this.AplicaLF,
        tipoparameter: this.TipoViaje,
        excel: true,
        tipoDetalle: this.tipoDetalle
      };

      window.location.href =
        this.WS + "/Reportes?json=" + JSON.stringify(parameters);
    },
    getReportePdf() {
      let parameters = {
        Titulo: this.title,
        Tipo: this.TipoIndicador,
        AnioInicio: this.AnioInicio,
        AnioFin: this.AnioFin,
        tipoDetalle: this.tipoDetalle,
        Mes: this.Mes,
        Semana: this.Semana,
        Empresa: this.$route.query.Id,
        AplicaLF: this.AplicaLF,
        tipoparameter: this.TipoViaje,
        excel: false
      };

      window.location.href =
        this.WS + "/Reportes?json=" + JSON.stringify(parameters);
    }
  },
  mounted() {
    this.json.gridApi = this.json.gridOptions.api;
    /* =================================================================
      NOTE:
      Header is not aligned properly in RTL version of agGrid table.
      However, we given fix to this issue. If you want more robust solution please contact them at gitHub
    ================================================================= */
    if (this.$vs.rtl) {
      const header = this.$refs.agGridTable.$el.querySelector(
        ".ag-header-container"
      );
      header.style.left =
        "-" + String(Number(header.style.transform.slice(11, -3)) + 9) + "px";
    }

    if (this.fgAjustarColumna) {
      this.json.gridApi.sizeColumnsToFit();
    }
  }
};
</script>
