<template>
  <div>
    <div class="vx-row">
      <div class="vx-col w-full"> 
        <vx-card title="Combustible y sueldos al mes" class="mb-base" > 
          <chartjs-bar-chart :data="datos" :title="title"  ></chartjs-bar-chart>
        </vx-card>
      </div>      
    </div>
    <div class="vx-row">
      <div class="vx-col w-full">
        <Ag-Grid-Table :data="datos"></Ag-Grid-Table>
      </div>
    </div>
  </div>
</template>
<script>
import datos from "@/views/indicadores/json/CedisViajes.json";
import ChartjsBarChart from "@/views/indicadores/Charts/chartjs/ChartjsBarChart.vue"
import AgGridTable from "@/components/ag-grid-table/AgGridTable.vue";

export default {
  data() {
    return {
      datos: datos,
      title: "Número de viajes marcado como tienda al mes"
    };
  },
  components: {
    ChartjsBarChart,
    AgGridTable
  }
};
</script>